.inputScore {
  ime-mode: disabled;
  width: 30px;
}

.scores {
  list-style-type: none;
  border: 2px solid #000;
  width: 170px;
  padding-left: 0px;
}

.score {
	border: 1px solid #000;			
}

.changeText {
	animation: changeAnimation 1.2s ease-out infinite;
}

@keyframes changeAnimation {
	from { color: #FFF; }
	to { color: blue; }
}
